<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582096148432-tthr8bbf4eo9sgbj637th2cbn9362ik8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582096148432-tthr8bbf4eo9sgbj637th2cbn9362ik8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>582096148432-0g9qjj1o0dutlq5aaq25cmsuj55sk4p5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4UWLZzT5mH3d_LzxS8RMrpYnCnUgtmFU</string>
	<key>GCM_SENDER_ID</key>
	<string>582096148432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jiraFlutterJava</string>
	<key>PROJECT_ID</key>
	<string>java-flutter-jira</string>
	<key>STORAGE_BUCKET</key>
	<string>java-flutter-jira.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582096148432:ios:115442f518aaa5ec4b4bd5</string>
</dict>
</plist>